*.bin
*.pth
*.wandb
*.las
data
data/
Partsize-identical/log/sem_seg/
data/bridge-5cls-fukushima/
Highway_bridge/data
Highway_bridge/data/
SkyNet_SOL_newidea/data/
Highway_bridge/cache/
Highway_bridge/utils/cache/
Highway_bridge/wandb/
*.h5.pdf
*.h5
*.h5.png
# Python bytecode
__pycache__/
*.py[cod]
*$py.class
